<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>fryyzreshq@tznvy.pbz</string>
	<key>contactName</key>
	<string>Curt Sellmer</string>
	<key>description</key>
	<string></string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
    		<string>DDFBBCF9-D333-4077-8D4F-EF6F2CA62220</string>
            <string>------------------------------------</string>
            <string>FE33460A-1416-47B5-A76B-75BBFA2398F8</string>
    		<string>------------------------------------</string>
			<string>D603466C-6006-4708-9E15-1475E194CCD3</string>
			<string>80AF8BEC-15C9-4A1E-9592-8897FE860419</string>
			<string>CA13E220-F557-4681-971E-C3D3D4A36CF8</string>
			<string>C894B1A9-A166-492E-909A-E35BC839FBEF</string>
			<string>74F8C515-9720-40AC-8BF2-E33D0ED7A755</string>
			<string>2788959A-AD07-4AF3-9D6F-E4B034FCCDEB</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>D603466C-6006-4708-9E15-1475E194CCD3</key>
			<dict>
				<key>name</key>
				<string>Declarations</string>
				<key>items</key>
				<array>
					<string>E79DCC79-E834-4B6C-8280-EBE0B9A0A41F</string>
					<string>493A836C-428D-4CA5-9E29-E2C927C8B642</string>
					<string>BAD79DCF-1B14-42CE-BE6E-7EE5A56190B3</string>
            		<string>84D83F43-40DA-4D04-8BC0-C44120383EC0</string>
					<string>6CCA6D38-8C03-4D29-97BD-45CED52713FB</string>
                    <string>0097F60C-0AAC-4CC0-8815-C6BA0E77606F</string>
                    <string>------------------------------------</string>
            		<string>EB49309E-CE0C-473E-B84A-822FE1926422</string>
            		<string>B05427CE-9071-48F8-8DCB-B366319B6919</string>
                    <string>B264B8AE-7EBD-413A-94B7-E305C5491CFC</string>
            		<string>F3813665-F6DD-4949-9A5D-9D08855CE524</string>
            		<string>F0DDDA87-02A7-4A5D-AC95-5FE791132D71</string>
                    <string>------------------------------------</string>
            		<string>B21A56AA-087B-472B-951D-4CEA449C4A3E</string>
            		<string>A9529C00-A7E2-4905-84AA-B5C1FB4F94F4</string>
				</array>
			</dict>
            <key>80AF8BEC-15C9-4A1E-9592-8897FE860419</key>
            <dict>
                <key>name</key>
                <string>Control</string>
                <key>items</key>
                <array>
                    <string>9D749173-9874-4BEC-80A1-BAE8AF266AD9</string>
            		<string>2680730F-2694-40B2-9189-A9C2BABDA2F6</string>
                    <string>6851152B-CD07-4E27-9932-631A86102B5C</string>
                    <string>C32C1AFB-F874-454E-8C82-86832CA296FD</string>
            		<string>7F9549F5-3308-4F39-8ECA-9F58FEF131F4</string>
            		<string>25D079F0-746F-412E-AD28-EF57B24CB06D</string>
            		<string>EDCAA3CB-D4EB-415C-B77B-D65D76D20B57</string>
            		<string>869286DD-0ED7-4772-BE86-2772CD732B9E</string>
            		<string>225BA219-0689-4815-9312-4C5509B51741</string>
            		<string>A43D7F2B-1FBF-4402-9E4C-3FA09CC6D32C</string>
                </array>
            </dict>
            <key>74F8C515-9720-40AC-8BF2-E33D0ED7A755</key>
            <dict>
                <key>name</key>
                <string>Strings</string>
                <key>items</key>
                <array>
            		<string>F715EEB0-520B-48B8-A6AA-BDDC735E3CE7</string>
					<string>8DD4BB8E-C09D-4BC2-90F6-B4248892F325</string>
            		<string>DCC63A78-D7F3-4885-ADA3-C46873D5FF32</string>
            		<string>5167F793-78AE-48A3-9C8E-779085477E69</string>
            		<string>A6A27A21-ADF2-4547-88AA-E208BD514197</string>
                </array>
            </dict>
			<key>2788959A-AD07-4AF3-9D6F-E4B034FCCDEB</key>
			<dict>
				<key>name</key>
				<string>Other</string>
				<key>items</key>
				<array>
        			<string>04D3E42F-4497-4D65-AE50-E7F261D25158</string>
					<string>11D5086B-FD25-4B33-92E3-4DEADCF4119D</string>
					<string>53B78E1D-F3C2-49C6-89D3-6BE30961C14D</string>
					<string>2F43ADBA-E02A-4712-8870-0774BAE5CC9F</string>
            		<string>A3557E0A-4AC5-4284-8B27-E55F48183E44</string>
            		<string>35B5D377-9BDB-431E-864D-EDD7E8D31FA8</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>Scala</string>
	<key>ordering</key>
	<array>
		<string>99FB23BA-DD49-447F-9F1A-FF07630CB940</string>
		<string>80930738-1643-4DEC-A143-B6E96F0E63AD</string>
		<string>256E7AF5-FEF1-4078-A423-08C59FA950A9</string>
		<string>31262BFB-520A-4253-A81C-60023C0CFC8B</string>
		<string>37AD8061-D284-4D24-A6C2-A641197D5CC2</string>
		<string>D7F71256-E8BB-4AC1-A61E-BE36832E3E5E</string>
		<string>A43C5E83-6D71-4D6F-B19C-445588806EAF</string>
		<string>EEEDB0BB-E825-4BFF-8D9B-CAE34FFCD8FC</string>
		<string>158C0929-299A-40C8-8D89-316BE0C446E8</string>
		<string>9EC5A69F-CC68-4636-8E2E-766F5D71BF43</string>
		<string>5273A275-C431-4DDA-809B-74551F450BB4</string>
	</array>
	<key>uuid</key>
	<string>452017E8-0065-49EF-AB9D-7849B27D9367</string>
</dict>
</plist>
